<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/createReceipt.css">
    <title>Document</title>
</head>
<body>
    <div class="grid">
        <div class="left-side-bar">
            <div class="customer-name">
                <span>tên khách hàng</span>
                <span>trần anh tiến đạt</span>
            </div>

            <div class="student-name">
                <span>tên thí sinh</span>
                <span>trần anh tiến đạt</span>
                
            </div>

            <div class="phone-number">
                <span>sdt</span>
                <span>0966964439</span>
                
                
            </div>

            <div class="email">
                <span>email</span>
                <span>abc@gmail.com</span>
                
                
            </div>

            <div class="address">
                <span>địa chỉ</span>
                <span>123 abc street</span>
                
                
            </div>
        </div>

        <div class="right-side-bar">
            <div class="top-right-bar">
                <span>Mã Phiếu Đăng Ký: ???</span>
            </div>
            
            <div class="middle-right-bar">
                <div class="date-create">
                    <span>ngày lập phiếu</span>
                    <span>05/08/2004</span>
                </div>

                <div class="sub-total">
                    <span>thành tiền</span>
                    <span class="sub-total-number">10.000.000đ</span>
                </div>

                <div class="discount">
                    <span>Phần trăm giảm giá</span>
                    <span>50%</span>
                </div>

                <div class="total">
                    <span>Số tiền cần trả</span>
                    <span>5.000.000đ</span>
                </div>
            </div>
            
            <button class="bottom-right-bar">
                Lập hóa đơn
            </button>
        </div>
    </div>
</body>
</html>