<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page - Exam System</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/homepage.css">
</head>
<body>
    <div class="container">
        <h1 class="header">Exam System</h1>
        <button class="btn btn-login" onclick="btnDangNhap_click()">Staff Login</button>
        <button class="btn btn-schedule" onclick="btnXemLichThi_click()">View Exam Schedule</button>
        <button class="btn btn-rules" onclick="btnXemQuyDinh_click()">View Registration Rules</button>
    </div>

    <script>
        
    </script>
    <script src="js/homepage.js"></script>
</body>
</html>