<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lập phiếu đăng ký</title>
    <link rel="stylesheet" href="/styles/LapPhieuDangKy_TuDo.css" />
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>Lập phiếu đăng ký</h1>
            <div class="button-group">
                <button disabled>CHO KHÁCH HÀNG TỰ DO</button>
                <button class="active">CHO KHÁCH HÀNG ĐƠN VỊ</button>
            </div>
        </div>

        <form id="form" class="form-container" method="POST" action="/them-dang-ky">
            <fieldset>
                <legend>Thông tin khách hàng</legend>
                <label>HỌ TÊN KHÁCH HÀNG:
                    <input type="text" name="hoTenKH" placeholder="  Nhập họ tên" required />
                </label>
            </fieldset>

            <fieldset>
                <legend>Thông tin thí sinh</legend>
                <label>HỌ TÊN THÍ SINH:
                    <input type="text" name="hoTenTS" placeholder="  Nhập họ tên" required />
                </label>
                <label>SỐ ĐIỆN THOẠI THÍ SINH:
                    <input type="tel" name="sdtTS" placeholder="  Nhập số điện thoại" required />
                </label>
                <label>EMAIL THÍ SINH:
                    <input type="email" name="emailTS" placeholder="  Nhập họ tên" required />
                </label>
                <label>ĐỊA CHỈ THÍ SINH:
                    <input type="text" name="diaChiTS" placeholder="  Nhập số địa chỉ" required />
                </label>
            </fieldset>

            <fieldset>
                <legend>Thông tin thi</legend>
                <label>LỊCH THI:
                    <select name="lichThi" required>
                        <option value="">-- Chọn lịch thi --</option>
                        <option value="2025-05-01">01/05/2025</option>
                        <option value="2025-06-15">15/06/2025</option>
                        <option value="2025-07-30">30/07/2025</option>
                    </select>
                </label>
            </fieldset>

            <button type="submit" class="submit-btn">THÊM ĐĂNG KÝ</button>
        </form>
    </div>

    <script>
        document.getElementById("form").addEventListener("submit", async function(event) {
            event.preventDefault();
            
        })
    </script>
</body>
</html>
