<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page - Exam System</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/homepage.css">
</head>
<body>
    <div class="container">
        <h1 class="header">Hệ thống đăng ký thi</h1>
        <button class="btn view-registration-info" onclick="redirectToViewCertitifcation()">Xem thông tin đăng ký</button>
        <button class="btn create-registration" onclick="redirectToCreateRegistration()">Lập phiếu đăng ký</button>
        <button class="btn view-certificate" onclick="redirectToViewCertificate()">Xem chứng chỉ</button>
    </div>
    <script src="js/mainpage.js"></script>
</body>
</html>